.uni-icon {
  width: 14px;
  height: 14px;
}

.uni-container {
  padding: 15px;
  background-color: #f8f8f8;
}

.uni-header-logo {
  /* #ifdef H5 */
  display: flex;
  /* #endif */
  padding: 15px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rpx;
}

.uni-header-image {
  width: 80px;
  height: 80px;
}

.uni-text-box {
  margin-bottom: 20px;
}

.hello-text {
  color: #7A7E83;
  font-size: 14px;
  line-height: 20px;
}


.uni-panel {
  margin-bottom: 12px;
}

.text-disabled {
  color: #a0a0a0;
}

.uni-panel-h {
  /* #ifdef H5 */
  display: flex;
  /* #endif */
  background-color: #ffffff;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 12px;
}

/*
.uni-panel-h:active {
    background-color: #f8f8f8;
}
 */
.uni-panel-h-on {
  background-color: #f0f0f0;
}

.uni-panel-text {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
}

.uni-navigate-item {
  /* #ifdef H5 */
  display: flex;
  /* #endif */
  flex-direction: row;
  align-items: center;
  background-color: #FFFFFF;
  border-top-style: solid;
  border-top-color: #f0f0f0;
  border-top-width: 1px;
  padding: 12px;
  justify-content: space-between;
  /* #ifdef H5 */
  /* cursor: pointer; */
  /* #endif */
}

.uni-navigate-item:active {
  background-color: #f8f8f8;
}

.is--active {
  background-color: #f8f8f8;
}

.uni-navigate-text {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
}

